@media only screen and (max-width: 500px) {
  .culDis input {
    font-size: 4rem !important;
    max-width: 327px;
    height: 88px;
  }
  .grit div {
    width: 100px;
    height: 64px;
    flex-shrink: 0;
    font-size: 3.2rem;
  }
  .grit {
    gap: 1rem;
  }
  .culDis {
    padding: 0 1rem;
  }
  main {
    padding: 1rem;
  }
  .grit2 div,
  .teng {
    width: 133px !important;
    height: 64px;
    flex-shrink: 0;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 430px) {
  .grit div {
    width: 80px;
  }
} 
@media only screen and (max-width: 340px) {
  .grit div {
    width: 60px;
  }
  
}
